version: 2
updates:
  - package-ecosystem: github-actions
    directory: '/'
    schedule:
      interval: cron
      cronjob: '20 8 * * 2'
  - package-ecosystem: julia
    directory: '/'
    schedule:
      interval: cron
      cronjob: '20 8 * * 2'
