name: Benchmarks
on:
  pull_request:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}
jobs:
  benchmark:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: julia-actions/install-juliaup@v2
        with:
          channel: 'release'
      - uses: julia-actions/cache@v2
      - uses: julia-actions/julia-buildpkg@v1
      - name: Install dependencies
        shell: julia --color=yes {0}
        run: |
          import Pkg
          Pkg.add(["PkgBenchmark", "BenchmarkCI"])
      - name: Run benchmarks
        shell: julia --color=yes {0}
        run: |
          import BenchmarkCI
          BenchmarkCI.judge(; baseline="origin/main", retune=true, verbose=true)
      - name: Print judgement
        shell: julia --color=yes {0}
        run: |
          import BenchmarkCI
          BenchmarkCI.displayjudgement()
      - name: Post results
        shell: julia --color=yes {0}
        run: |
          import BenchmarkCI
          BenchmarkCI.postjudge()
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
