name: CompatHelper
on:
  schedule:
    - cron: '0 0 * * *'
  push:
    branches:
      - 'main'
    tags: ['*']
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: julia-actions/install-juliaup@v2
        with:
          channel: 'release'
      - uses: julia-actions/cache@v2
      - name: Pkg.add
        shell: julia --color=yes {0}
        run: |
          import Pkg
          Pkg.add("CompatHelper")
      - name: CompatHelper.main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COMPATHELPER_PRIV: ${{ secrets.DOCUMENTER_KEY }}
        shell: julia --color=yes {0}
        run: |
          import CompatHelper
          CompatHelper.main(; include_jll = true, subdirs = ["", "docs", "test", "benchmark"])
